{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% import _self as helper %}
    {% set request_handler %}
        {{ helper.set_handler(collector.controller) }}
    {% endset %}

    {% if collector.templatePaths is not empty %}
        <style>

            @keyframes arkounay-debug-fadeout {
                0% {opacity: 0; right: 40px;}
                20% {opacity: 1; right: 20px;}
                80% {opacity: 1; right: 20px;}
                100% {opacity: 0; right: 0;}
            }

            .arkounay-debug-toast {
                position: fixed;
                right: 20px;
                top: 20px;
                background-color: rgba(50, 50, 50, 0.8);
                padding: 10px;
                color: white;
                font-size: 12px;
                animation-name: arkounay-debug-fadeout;
                animation-duration: 2s;
                border-radius: 4px;
                z-index: 10000;
            }
        </style>

        <script>
            function copyToClipboard(copy) {
                var el = document.createElement('textarea');
                el.value = copy;
                document.body.appendChild(el);
                el.select();
                document.execCommand('copy');
                document.body.removeChild(el);

                var toast = document.createElement('div');
                toast.innerHTML = "Copied <strong>" + copy + "</strong> to clipboard.";
                toast.className = "arkounay-debug-toast";
                document.body.appendChild(toast);
                setTimeout(function () {
                    document.body.removeChild(toast);
                }, 2000);

                return false;
            }
        </script>

        {% set template = collector.templatePaths|keys|first|default %}
        {% set template_path = collector.templatePaths|first %}

        {% set icon %}
            {{ include('@ArkounayTwigCopyLocation/data_collector/copy-content.svg') }}
            {#{{ include('@WebProfiler/Icon/twig.svg') }}#}
            <span class="sf-toolbar-label">{{ template|split('/')|last }}</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-group">
                <span class="sf-toolbar-info-piece">
                    {{ request_handler }}
                </span>
            </div>
            {% for template, v in collector.templatePaths|reverse %}
                <div class="sf-toolbar-info-piece">
                    <a onclick="return copyToClipboard('{{ v }}');" href="#" title="Copy {{ v }} to clipboard. ({{ v }})">{{ template }}</a>
                </div>
            {% endfor %}
        {% endset %}

        <div class="sf-toolbar-block sf-toolbar-block-{{ name }} sf-toolbar-status-{{ status|default('normal') }} {{ additional_classes|default('') }}" {{ block_attrs|default('')|raw }}>
                <a href="#" onclick="return copyToClipboard('{{ template_path }}');" title="Copy {{ template_path }} to clipboard.">
                    <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
                </a>
                <div class="sf-toolbar-info">
                    {{ text|default('') }}
                </div>
        </div>
    {% endif %}

{% endblock %}

{% macro set_handler(controller) %}
    {% if controller.class is defined -%}
        {%- set link = controller.file ~ ':' ~ controller.line %}
        {%- if link %}<a href="#" onclick="return copyToClipboard('{{ link }}');" title="{{ controller.class }}">{% else %}<span title="{{ controller.class }}">{% endif %}

        {{- controller.class|abbr_class|striptags -}}
        {{- controller.method ? ' :: ' ~ controller.method -}}

        {%- if link %}</a>{% else %}</span>{% endif %}
    {%- else -%}
        <span>{{ route|default(controller) }}</span>
    {%- endif %}
{% endmacro %}